
  <h1>Welcome to your Trashboard 🗑</h1>
  <div class="container-image-map">

    <div class="container-flex">
      <h2 class="dashboard-title">My Bookings</h2>
      <% @user.bookings.each do |booking| %>
      <div class="dashboard-card">
        <h3><%=booking.receptacle.name%></h3>
          <img src='<%= cl_image_path booking.receptacle.picture.key, height: 300, width: 400, crop: :fill %>' >
          <p>Your booking dates: <%=booking.start_date.strftime("%B %d")%> - <%=booking.end_date.strftime("%B %d, %Y")%></p>
          <p>Total price:<%=booking.total_price%> €</p>
      </div>
      <%end%>
    </div>

    <div class="container-flex">
      <h2 class="dashboard-title">My Receptacles for Offer</h2>
      <% @receptacles.each do |receptacle| %>
      <div class="dashboard-card">
        <h3><%=receptacle.name%></h3>
          <img src='<%= cl_image_path receptacle.picture.key, height: 300, width: 400, crop: :fill %>' >
          <p>Price Per Day: <%= number_with_delimiter(receptacle.price_per_day, :delimiter => ",") %>€</p>
          <p>Capacity: <%= number_with_delimiter(receptacle.capacity, :delimiter => ",") %>L</p>
      </div>
      <%end%>
    </div>

  </div>
