<<<<<<< HEAD
<h1 class="dash-title">Your Trashboard</h1>
=======


<h1>Your Trashboard</h1>
>>>>>>> master

  <div class="dashboard-card user-profile">
<<<<<<< HEAD
    <%= cl_image_tag @user.photo.key %>
    <h1>Welcome <%= @user.first_name %> <%= @user.last_name %>!</h1>
=======
    <%= cl_image_tag @user.photo.key if @user.photo.attached? %>
    <%= image_tag "blue trash.png" unless @user.photo.attached?%>

    <h2><%= @user.first_name %></h2>
    <h2><%= @user.last_name %></h2>
>>>>>>> master
  </div>

<div class="dashboard-container">
    <div class="dash-card">
      <h2 class="dashboard-title">My Bookings</h2>
      <% @user.bookings.each do |booking| %>
        <div class="dashboard-card">
          <h3><%=booking.receptacle.name%></h3>
            <img src='<%= cl_image_path booking.receptacle.picture.key, height: 300, width: 400, crop: :fill %>'>
            <p><i class="fa-solid fa-calendar-days"></i> Your booking dates:</p>
            <p><%=booking.start_date.strftime("%B %d")%> - <%=booking.end_date.strftime("%B %d, %Y")%></p>
            <p><i class="fa-solid fa-money-check-dollar"></i> Price Per Day: €<%= number_with_delimiter(booking.receptacle.price_per_day, :delimiter => ",") %></p>

        </div>
      <%end%>
    </div>

    <div class="dash-card">
      <h2 class="dashboard-title">My Receptacles</h2>
      <% @receptacles.each do |receptacle| %>
        <div class="dashboard-card">
          <h3><%=receptacle.name%></h3>
            <img src='<%= cl_image_path receptacle.picture.key, height: 300, width: 400, crop: :fill %>' >
            <p><i class="fa-solid fa-money-check-dollar"></i> Price Per Day: €<%= number_with_delimiter(receptacle.price_per_day, :delimiter => ",") %></p>
            <p><i class="fa-solid fa-box-open"></i>  Capacity: <%= receptacle.capacity %> L</p>
        </div>
      <%end%>
    </div>

</div>
