<div class='container'>
  <h1>Available Receptacles</h1>
  <% @receptacles.each do |receptacle| %>
  <%= cl_image_tag receptacle.picture.key, height: 300, width: 400, crop: :fill %>
  <h2><%= receptacle.name %></h2>
  <i class="fa-solid fa-euro-sign"></i><p><%= receptacle.price_per_day %></p>
  <p>Capacity:<%= receptacle.capacity %></p>
  <%= link_to "More Info", receptacle_path(receptacle) %>
  <%= link_to "Edit", edit_receptacle_path(receptacle) %>
  <% end %>
</div>
