
<div class="banner"><h1>Available Receptacles</h1></div>
<div class='card-container'>
  <% @receptacles.each do |receptacle| %>
    <div class="receptacle-card">
      <%= cl_image_tag receptacle.picture.key, height: 400, width: 400, crop: :fill %>
      <div>
        <h2>
          <%= receptacle.name %>
        </h2>
        <p><%= receptacle.price_per_day %> <i class="fa-solid fa-euro-sign"></i></p>
        <p>Capacity:<%= receptacle.capacity %></p>
        <% if policy(receptacle).show? %>
          <%= link_to 'More Info', receptacle %>
        <% end %>
      </div>
    <%# # UNCOMMENT WHEN NEW METHOD IS DONE %>
    <%# # <% if policy(Receptacle).create? %>
    <%# # <%= link_to "New Receptacle", new_receptacle_path %>
    <%# # <% end %>
    </div>
  <% end %>
</div>
