<div class="map-cards-container">

<div>
  <form method="get" action="tagged">
    <p>
      <input name="tag" value="Tiny">
    </p>
    <input type="submit" value="Tiny">
  </form>



  <%# <p class='log-in-button regular'>Tiny</p>
  <p class='log-in-button regular'>Small</p>
  <p class='log-in-button regular'>Medium</p>
  <p class='log-in-button regular'>A lot</p>
  <p class='log-in-button regular'>Infinite</p> %>
</div>


<% @receptacles.each do |p| %>
<h2><%= p.name %></h2>
<div class="tags">
  <% p.tag_list.each do |t| %>
    <%= link_to t, tagged_path(tag: t) %>
  <% end %>
</div>

<% end %>
  <div class="card-container">
    <% @receptacles.each do |receptacle| %>
      <% if policy(receptacle).show?%>
        <%= link_to receptacle do%>
           <%# <div class="receptacle-card" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url('<%= cl_image_path receptacle.picture.key, height: 2000, width: 2000, crop: :fill %>
           <%# )"> %>
            <div class="card-body">
              <div class="card-info">
                <h2><%= receptacle.name %></h2>
                <h3>€<%= number_with_delimiter(receptacle.price_per_day, :delimiter => ",") %> /day</h3>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="map-section" style=" margin-left: 20px;
    width: 40%;
    height: 92vh;
    position: sticky;
    top: 8vh;
    border-radius: 30px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
