
<%# <div class="receptacles-banner">
  <h1>Receptacles</h1>
</div> %>
  <div class="card-container">
    <% @receptacles.each do |receptacle| %>
      <% if policy(receptacle).show?%>
        <%= link_to receptacle do%>
        <div class="receptacle-card" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url('<%= cl_image_path receptacle.picture.key, height: 2000, width: 2000, crop: :fill %>')">
          <div class="card-head">
            <h3><%= receptacle.price_per_day %>€</h3>
          </div>
          <div class="card-body">
            <h2>
              <%= receptacle.name %>
            </h2>
          </div>

        </div>
          <% end %>
      <% end %>
    <% end %>
    <div style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
