
<%# <div class="receptacles-banner">
  <h1>Receptacles</h1>
</div> %>
  <div class="map-cards-container">
    <div class="card-container">
      <% @receptacles.each do |receptacle| %>
        <% if policy(receptacle).show?%>
          <%= link_to receptacle do%>
          <div class="receptacle-card" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url('<%= cl_image_path receptacle.picture.key, height: 2000, width: 2000, crop: :fill %>')">
            <div class="card-head">
              <h3>€<%= number_with_delimiter(receptacle.price_per_day, :delimiter => ",") %></h3>
            </div>
            <div class="card-body" class56cc  >
                <h2>
                  <%= receptacle.name %>
                </h2>
              </div>
             </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <div class="map-section"style="width:700px; height: 700px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
