
<div class="banner"><h1>Available Receptacles</h1></div>
  <div class="card-container">
    <% @receptacles.each do |receptacle| %>
      <div class="receptacle-card">
        <div>
          <%= cl_image_tag receptacle.picture.key%>
          <div class="card-info">
            <h2>
              <%= receptacle.name %>
            </h2>
            <div>
              <%# <p><%= receptacle.price_per_day %
              <%# <div>Capacity:<%= receptacle.capacity %>
              <% if policy(receptacle).show?%>
              <%= link_to 'More Info', receptacle %>
              <% end %>
            </div>
          </div>
        <%# # UNCOMMENT WHEN NEW METHOD IS DONE %>
        <%# # <% if policy(Receptacle).create? %>
        <%# # <%= link_to "New Receptacle", new_receptacle_path %>
        <%# # <% end %>
        </div>
      </div>
    <% end %>
  </div>
