
    <div>
      <h1><%= @receptacle.name %></h1>
        <div class="show-card " style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url('<%= cl_image_path @receptacle.picture.key, height: 2000, width: 2000, crop: :fill %>')">
          <p><em><%= @receptacle.description%></em></p>
          <p>Price Per Day: €<%= number_with_delimiter(@receptacle.price_per_day, :delimiter => ",") %></p>
        </div>
    </div>


  <div class="container">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <h2>Make a Booking</h2>
      <%= simple_form_for :search, method: "get" do |f| %>
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :ends_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Make a Booking</h2>
      <%# this code is for making a range but it doesn't work
      <%# <%= t.input :start_date, as: :string, required: false, input_html: { id: "range_start" } %>
      <%# <%= t.input :end_date, as: :string, required: false, input_html: { id: "range_end" } %>
      <%= simple_form_for [@receptacle, @booking] do |f| %>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Go", class: "log-in-button" %>
    <% end %>
  </div>
</div>



    <div class='d-flex flex-row'>
        <%= link_to 'Back', receptacles_path, {class: 'log-in-button'} %>

        <% if policy(@receptacle).update? %>
        <%= link_to 'Edit', edit_receptacle_path(@receptacle), {class: 'log-in-button'} %>
      <% end %>

      <% if policy(@receptacle).destroy? %>
        <%= link_to 'Delete', @receptacle, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  </div>

  <div>
    <div class='rounded' style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
