<div class ='d-flex flex-column'>
  <div class='d-flex flex-row mt-4 mt-5 mb-4'>

    <div>
      <h1><%= @receptacle.name %></h1>
        <div class="show-card " style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url('<%= cl_image_path @receptacle.picture.key, height: 2000, width: 2000, crop: :fill %>')">
          <p><em><%= @receptacle.description%></em></p>
          <p>Price Per Day: €<%= number_with_delimiter(@receptacle.price_per_day, :delimiter => ",") %></p>
        </div>
    </div>


  </div>


    <div class='d-flex flex-row'>
        <%= link_to 'Back', receptacles_path, {class: 'log-in-button'} %>

        <% if policy(@receptacle).update? %>
        <%= link_to 'Edit', edit_receptacle_path(@receptacle), {class: 'log-in-button'} %>
        <% end %>

        <% if policy(@receptacle).destroy? %>
        <%= link_to 'Delete', @receptacle, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>

    <div>
      <div class='rounded' style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

</div>
