<div class='container'>
  <p><%= @receptacle.name %></p>
  <p><%= @receptacle.description%>
  <i class="fa-solid fa-euro-sign"></i><p><%= @receptacle.price_per_day %></p>
  <p><%= @receptacle.capacity %></p>
  <p><%= @receptacle.address %></p>

  <%= cl_image_tag @receptacle.picture.key, height: 300, width: 400, crop: :fill %>

  <%# UNCOMMENT WHEN EDIT METHOD IS DONE
  <% if policy(receptacle).update? %>
  <%# <%= link_to 'Edit', edit_receptacle_path(receptacle) %>
  <%# <% end %>

  <%# UNCOMMENT WHEN DELETE METHOD IS DONE
  <% if policy(receptacle).destroy? %>
  <%# <%= link_to 'Delete', receptacle, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%# <% end %>
</div>
